MONGODB_URI=mongodb://<YOUR-USER>:<YOURPASSWORD>@localhost:27017/<YOUR_DB_NAME>?authSource=admin
MONGO_USERNAME=<YOUR-USER>
MONGO_PASSWORD=<YOURPASSWORD>
MONGODB_NAME=<YOUR_DB_NAME>
BASE_API_URI=http://<your-localhost-ip>:5000
APP_ENV=production
BASE_API_URI_LOCAL=http://<your-localhost-ip>:5000
BASE_API_URI_PROD=https://your-online-backend.app